/* Modal Content */
.modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: auto;
}

.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}